services:
  web:
    image: php:8.2-apache
    container_name: jebusiness_web
    ports:
      - "${APP_PORT:-8080}:80"
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    env_file:
      - .env
    depends_on:
      - db
    command: >
      bash -c "
        rm -rf /var/www/html/index.html &&
        ln -sf /var/www/html/public /var/www/html/public_dir &&
        sed -i 's#DocumentRoot /var/www/html#DocumentRoot /var/www/html/public#' /etc/apache2/sites-available/000-default.conf &&
        sed -i 's#<Directory /var/www/html>#<Directory /var/www/html/public>#' /etc/apache2/apache2.conf &&
        apache2-foreground
      "

  db:
    image: mariadb:11
    container_name: jebusiness_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./data/mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: jebusiness_phpmyadmin
    ports:
      - "${PMA_PORT:-8081}:80"
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db
